{% extends 'base.html' %}
{% block content %}
{% block inscription %}{% endblock inscription %}
<div style="display: flex; width: 100%; gap: 10%;">
    <div id="inscription">
        <h2>Inscrivez-vous maintenant</h2>
        <a href="{% url 'inscription' %}">
            <button>S'inscrire</button>
        </a>
    </div>
    <div id="connexion">
        <h2>Connectez-vous</h2>
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <button type="submit">Se connecter</button>
        </form>
        <p style="color: red;">{{ message }}</p>
    </div>
</div>

{% endblock content %}